<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<nav th:fragment="navbar">
		<div class="container-fluid">
			<div>
				<nav class="navbar navbar-expand navbar-light bg-light">
					<a class="navbar-brand" th:href="@{/}"> <img
						th:src="@{/images/logo.png}" style="width: 100px" />
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarNav">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav" id="nav-links">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/" th:text="#{films}" id="nav-link-home">Films</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{new_films}" th:text="#{newFilms}" id="nav-link-warehouse">New Films</a></li>
						</ul>
					</div>
					<button sec:authorize="!isAuthenticated()" type="button" class="btn btn-dark" th:text="#{login}" onclick="location.href='/login'">Login</button>
					<div class="dropdown" sec:authorize="isAuthenticated()">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
							<span sec:authentication="principal.username">Username</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownMenu2">
							<li class="dropdown-item" sec:authorize="hasRole('SELLER')">
								<a class="nav-link" th:href="@{sellerPanel}" th:text="#{sellerPanel}">Seller Panel</a>
							</li>
							<hr>
							<li class="dropdown-item"><a class="nav-link"
								th:href="@{settings}" th:text="#{settings}">Settings</a>
						  	</li>
						  	<li class="dropdown-item">
								<form action="/logout" method="post">
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
									<input type="submit" class="btn" data-dismiss="modal" th:value="#{logout}" />
								</form>
							</li>
						</ul>
					</div>
                </nav>
			</div>
        </div>
	</nav>

	<footer th:fragment="footer">
		<p>&copy; 2021 Kowalewski Mariusz</p>
	</footer>
</body>
</html>