<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
<title th:text="#{appName}">Movie Rental - VOP P</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container">
		</br>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
			  <div class="card h-100">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
				<div class="card-footer">
					<button style="width: 100%" type="button" class="btn btn-primary">Primary</button>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card h-100">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				</div>
				<div class="card-footer">
					<button style="width: 100%" type="button" class="btn btn-primary">Primary</button>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card h-100">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				</div>
				<div class="card-footer">
					<button style="width: 100%" type="button" class="btn btn-primary">Primary</button>
				</div>
			  </div>
			</div>
			<div class="col">
				<div class="card h-100">
				  <div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				  </div>
				  <div class="card-footer">
					  <button style="width: 100%" type="button" class="btn btn-primary">Primary</button>
				  </div>
				</div>
			  </div>
			  <div class="col">
				<div class="card h-100">
				  <div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				  </div>
				  <div class="card-footer">
					  <button style="width: 100%" type="button" class="btn btn-primary">Primary</button>
				  </div>
				</div>
			  </div>
			  <div class="col">
				<div class="card h-100">
				  <div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				  </div>
				  <div class="card-footer">
					  <button style="width: 100%" type="button" class="btn btn-primary">Primary</button>
				  </div>
				</div>
			  </div>
		  </div>
		</br>
		<div th:include="fragments/components :: footer"></div>
	</div>
	<script>
	</script>
</body>
</html>