<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
<title th:text="#{appName}">Movie Rental - VOP P</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container">
		</br>
		<div id="films" class="row row-cols-4 row-cols-md-4 g-4"></div>
		</br>
		<div th:include="fragments/components :: footer"></div>
	</div>
	<script>

		fetch('/films?new')
    		.then(processOkResponse)
    		.then(films => {
        		var movies = films.map(film => {
            		return `<div class="col">
								<div class="card h-100">
									${(film.newest)? '<span class="badge bg-success">NEW</span>':''}
									<div class="card-body">
				  						<h5 class="card-title">${film.title}</h5>
				  						<p class="card-text">${film.description}</p>
									</div>
									<div class="card-footer" style="background: white">
										${film.categories.map(category => {return `<button type="button" class="btn btn-outline-secondary btn-sm">${category.name}</button>`}).join("\n")}
									</div>
									<div class="card-footer">
										<button type="button" class="btn btn-primary">Primary</button>
										<small style="width: 100%" class="text-muted text-right">${film.price}</small>
									</div>
								</div>
							</div>`
        		}).join("\n");

				document.getElementById('films').innerHTML=movies;
    });


	function processOkResponse(response = {}) {
		if (response.ok)
      		return response.json();
    		
    	throw new Error(`Status not 200 (${response.status})`);
  	}
	</script>
</body>
</html>